In [ ]:
spark

## Services
- [Catalog](http://localhost:8181/)
- [Storage](http://localhost:9001/)

## DDL

In [ ]:
%%sql
CREATE SCHEMA IF NOT EXISTS demo.nyc;

In [ ]:
%%sql
CREATE TABLE demo.nyc.taxis
(
  vendor_id bigint,
  trip_id bigint,
  trip_distance float,
  fare_amount double,
  store_and_fwd_flag string
)
PARTITIONED BY (vendor_id);

## DML

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis;

In [ ]:
%%sql
INSERT INTO demo.nyc.taxis
VALUES 
(1, 1000371, 1.8, 15.32, 'N'), 
(2, 1000372, 2.5, 22.15, 'N'), 
(2, 1000373, 0.9, 9.01, 'N'),
(1, 1000374, 8.4, 42.13, 'Y');

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis WHERE vendor_id = 2;

In [ ]:
%%sql
EXPLAIN SELECT * FROM demo.nyc.taxis WHERE vendor_id = 2;

In [ ]:
%%sql
UPDATE demo.nyc.taxis
SET fare_amount = 99.998
WHERE vendor_id = 2 and trip_id = 1000373

## Metadata Tables

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.history;

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.snapshots;

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.files;

## Data as code / branching