In [1]:
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
spark.conf.set("spark.sql.repl.eagerEval.enabled", "true")
spark.conf.set("spark.sql.catalog.demo.uri", "http://rest:8181/catalog")
spark.conf.set("spark.sql.catalog.demo.warehouse", "demo")
spark

## DDL

In [2]:
%%sql
CREATE SCHEMA demo.nyc;

25/10/28 07:43:57 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [3]:
%%sql
CREATE TABLE demo.nyc.taxis
(
  vendor_id bigint,
  trip_id bigint,
  trip_distance float,
  fare_amount double,
  store_and_fwd_flag string
)
PARTITIONED BY (vendor_id);

++
||
++
++

## DML

In [4]:
%%sql
SELECT * FROM demo.nyc.taxis;

+-----------+---------+---------------+-------------+--------------------+
| vendor_id | trip_id | trip_distance | fare_amount | store_and_fwd_flag |
+-----------+---------+---------------+-------------+--------------------+
+-----------+---------+---------------+-------------+--------------------+

In [5]:
%%sql
INSERT INTO demo.nyc.taxis
VALUES 
(1, 1000371, 1.8, 15.32, 'N'), 
(2, 1000372, 2.5, 22.15, 'N'), 
(2, 1000373, 0.9, 9.01, 'N'),
(1, 1000374, 8.4, 42.13, 'Y');

++
||
++
++

In [6]:
%%sql
SELECT * FROM demo.nyc.taxis WHERE vendor_id = 2;

+-----------+---------+--------------------+-------------+--------------------+
| vendor_id | trip_id |      trip_distance | fare_amount | store_and_fwd_flag |
+-----------+---------+--------------------+-------------+--------------------+
|         2 | 1000372 |                2.5 |       22.15 |                  N |
|         2 | 1000373 | 0.8999999761581421 |        9.01 |                  N |
+-----------+---------+--------------------+-------------+--------------------+

In [ ]:
%%sql
EXPLAIN SELECT * FROM demo.nyc.taxis WHERE vendor_id = 2;

In [ ]:
%%sql
UPDATE demo.nyc.taxis
SET fare_amount = 99.998
WHERE vendor_id = 2 and trip_id = 1000373

## Metadata Tables

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.history;

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.snapshots;

In [ ]:
%%sql
SELECT * FROM demo.nyc.taxis.files;

## Data as code / branching